.calendar-container {
    position: relative;
    width: 100%;
}

.calendar-input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.calendar-popup {
    position: absolute;
    top: 50px;
    left: 0;
    width: 262px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    z-index: 10;
    padding: 4px 4px 8px 4px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    padding: 8px;
    border: 1px solid #dddddd;
    background: #e9e9e9;
    color: #333333;
    font-weight: bold;
}

.calendar-nav-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.calendar-weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: bold;
    padding: 8px 0;
    text-align: center;
}

.calendar-days {
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(7, 1fr);
}

.calendar-day {
    padding: 3px 5px;
    text-align: right;
    border: 1px solid #c5c5c5;
    background: #f6f6f6;
    font-weight: normal;
    color: black;
    opacity: 1;
    cursor: pointer;
    font-size: 14px;
}

.calendar-day:hover {
    background-color: #f0f0f0;
}

.selected-day {
    background: #007fff;
    color: white;
    border: 1px solid #003eff;
    border-radius: 3px;
    font-weight: normal;
}

.highlighted-day {
    border: 1px solid #dad55e;
    background: #fffa90;
    color: #777620;
}

.empty-day {
    padding: 8px;
    text-align: center;
    color: #ddd;
}
