* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout{
  display: flex;
  align-items: start;
  margin-top: 60px;
}

.main-container{
  background: #F5F7FF;
  width: 100%;
  min-height: calc(100vh - 60px);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.sidebar-responsive{
  display: block;
}

@media screen and (max-width: 1024px) {
  .sidebar-responsive {
    display: none;
  }
}